<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header', {pagina: 'Sobre'}); %>

            <main>
                <div class="jumbotron">
                    <h1>About me</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quam totam qui sit earum eos ex et distinctio, expedita aspernatur! Nobis impedit officiis ea. Quidem, autem dicta. Laboriosam, aliquam maiores.
                    </p>
                </div>
            </main>

            <%- include('../partials/footer'); %>


    </body>

</html>